/*change defaults*/

* {
    margin: 0;
}

html, body {
    background-color: #2b2e2e;
    color: lightgray;
    height: 100%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"], textarea {
    border: 1px solid #595c5c;
    color: lightgray;
    background-color: #434646;
}

input[type="submit"] {
    color: #b8860b;
}

input[type="submit"]:hover {
    color: #ffa500;
}

h1 {
    color: #f0f8ff;
}

h1:first-letter, h2:first-letter, h3:first-letter {
    font-family: 'Mr Dafoe', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

a {
    color: #ff8c00;
}

a:visited {
    color: #b8860b;
}

a:hover {
    color: #ffbd05;
}

footer {
    padding-left: 10px;
    background-color: #212424;
}

/* sticky footer*/
div#wrapper {
    min-height: 100%;
    margin-bottom: -70px;
}

div#wrapper:after {
    content: "";
    display: block;
}

footer, div#wrapper:after {
    padding-top: 10px;
    height: 70px;
}

/*navigation*/

.nav-menu {
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 4em 1em 4em;
    background-color: #8b291f;
}

.nav-menu a {
    margin-left: 2em;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.nav-menu a:hover, .nav-menu a.active {
    color: #ffbd05;
}

nav li, nav ul {
    display: inline-block;
    list-style: none outside none;
}

.nav-menu a:after, .nav-menu a:before {
    content: " ~ ";
}

/*section customs*/

section {
    margin-left: 20px;
    text-indent: 1em;
}

section#top {
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    border-bottom-style: dashed;
    border-top-style: dashed;
}

section.special {
    font-size: 2em;
}

section.terms {
    text-align: right;
}

section.terms a{
    font-size:1em;
    color: #ff5b6b;
    font-family: 'Mr Dafoe','Arial', sans-serif;
}

article.vcard img {
    float: left;
    position: relative;
    margin-left: 3em;
}

article.vcard {
    text-align: right;
    margin: 0 25%;
    padding: 3em 1em;
    border-top: 1px solid #434646;
    border-bottom: 1px solid #434646;

    /*generated by colotzilla*/
    background: #7d7e7d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3ZDdlN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGUwZTBlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=1); /* IE6-8 fallback on horizontal gradient */

}

article.vcard span.name {
    display: block;
    font-size: 2em;
    font-family: 'Mr Dafoe', 'Arial', sans-serif;
    font-weight: 400;
}
